
@{
    ViewBag.Title = "Import";
}
<script src="https://www.appelsiini.net/download/jquery.jeditable.js"></script>

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Import", "Tyre", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Raw(ViewBag.Error)
            <span>
                Excel File
            </span>
            <input class="form-control" type="file" name="excelfile" />
            <br />
            <input class="btn btn-block btn-outline-primary" type="submit" value="Import" />
            <br />
        }
        <a class="btn btn-block btn-outline-success" href="@Url.Action("Index","Tyre")">Back to Tyre</a>


        @if (ViewBag.ListTyres != null)
        {
            <table class="table table-responsive" cellpadding="2" cellspacing="2" border="1">
                <tr>
                    <th>
                        Tire Size Designation
                    </th>
                    <th>
                        Status
                    </th>
                   
                </tr>
                @foreach (var item in ViewBag.ListTyres)
                {
                    <tr>
                        <td>@item.TireSizeDesignation</td>
                        <td>IMPORTED</td>
                       

                    </tr>
                }
            </table>
        }


    </div>
</div>

